name : run_autotests

on:
  workflow_dispatch:
    inputs:
      deployment_targer:
        description: select tests to run
        required: true
        type: choice
        default: all
        options:
          - all


jobs:
  run-tests:
    runs-on: ubuntu-latest
    name: Tests
    steps:
      - name: Cope source code
        users: action/checkout@v4
      - name: Set up Python env
        users: action/setup-python@v5
        with:
          python-version: "3.10"
      - name: install dependecies
        run: pip install -r requirements.txt
      - name: Run tests
        run: pytest -v
